{% extends 'base.html' %}
<h1>Expenses</h1>
{% block content %}
<ul class='list-group'>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
  <li class='list-group-item'>Bought beer</li>
</ul>
{% endblock %}